<div *ngIf="employee" class="container">
  <h2>{{employee.name}} details!</h2>
  <form (ngSubmit)="save()" #employeeForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="employee.name" #name="ngModel" type="text" class="form-control" name="name" id="name" required>
      <div [hidden]="name.valid"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Save</button>
    <button class="btn btn-default" (click)="goBack()">Back</button>
  </form>
</div>
